@charset "UTF-8";


/* 1050px */
@media (max-width: 1050px) {

    .content-img-main h1 {
        flex-basis: 100%;
        margin: 0 auto;
        align-items: flex-end;
        justify-content: center;
    }
}


/* 1030px */
@media (max-width: 1030px) {
    .service .service-content article .ico-h2 {
        justify-content: center;
        font-size: .8em;
        text-align: center;
    }

}


/* 960px */
@media (max-width: 960px) {
    .content .content-img-main .txt {
        flex-basis: 100%;
    }


    .cta .cta-content .cta-button, .cta .cta-content article h2 {
        flex-basis: 100%;
        justify-content: center;
        margin: 10px auto;
        text-align: center;
        align-items: center;
    }

    .subscribe .subscribe-sec article h2 {
        margin-bottom: 20px;
    }

}

/* 920px */
@media (max-width: 920px) {


    .service .service-content article h2 {
        flex-basis: 70%;
    }

    .foot .article .contact {
        flex-basis: 40%;
    }

    .foot .contact a {
        flex-basis: 60%;
    }

    .foot .article .menu {
        flex-basis: 100%;
    }

    .foot .article .menu ul {
        flex-basis: calc(50% - 60px);
        flex-wrap: wrap;
    }


    .foot .article .contact {
        margin-top: 30px;
    }

}


/* 850px */
@media (max-width: 850px) {

    .service .service-content h1 {
        justify-content: center;
        text-align: center;
    }

    .service .service-content a {
        flex-basis: 100%;
        max-width: 600px;
        margin: 20px 10px;
    }

    .about2 .main-header .main-title {
        margin-left: 0;
    }
}

/* 820px */
@media (max-width: 820px) {
    .service .service-content article {
        flex-basis: calc(100% - 40px);
    }

    .about2 .about2-limit .article-content {
        animation: bgMotion 150s ease-in-out infinite;
    }
}


@media /*media and*/
(min-width: 700px) /*and(max-width: 820px)*/ {
    .menu-mobile-list {
        display: none;
    }
}


/* 700px */
@media (max-width: 700px) {

    .header-top .conteiner-header {
        padding: 10px;
    }


    .header-top .conteiner-header #logo {
        display: none;
    }

    .header-top .conteiner-header #logo2 {
        max-width: 50px;
        max-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-top .conteiner-header #logo2 img {
        align-items: center;
        justify-content: center;
    }


    .header-top .conteiner-header #logo img {
        font-size: .6em;

    }

    .header-top .conteiner-header .header-menu {
        display: none;
    }

    /******************************************************************************************************************/

    .header-top .conteiner-header .menu-mobile {
        display: flex;
        flex-basis: 100%;
        height: 100%;
        align-items: center;
        justify-content: flex-end;
        margin: 0 auto;
    }

    .header-top .conteiner-header .menu-mobile .menu-mobile-limit {
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 50px;
        border-radius: 8px;
        padding: 6px 0;
    }

    .header-top .conteiner-header .menu-mobile .menu-mobile-limit:hover {
        background-color: #754d2442;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.24);
    }

    .header-top .conteiner-header .menu-mobile span {
        display: flex;
        flex-basis: 100%;
        max-width: 30px;
        min-width: 30px;
        height: 5px;
        border-radius: 3px;
        margin: 2px auto;
        background-color: #754c24;
    }

    .foot .article .menu {
        padding-left: 0px;
    }

    .foot .article .menu, .contact {
        flex-basis: 50%;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 40px;
    }

    .foot .article .menu h2, .contact h2 {
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }

    .foot .menu ul li {
        margin: 0 auto;
        justify-content: center;
    }

    .foot .menu ul li a {
        margin: 0 auto;
        justify-content: center;
    }

    .foot .contact a {
        flex-basis: 100%;
        margin: 0 auto;
        justify-content: center;
    }

    .foot .article .guizo {
        flex-basis: 100%;
        margin: 0 auto;
        justify-content: center;
    }

    .foot .guizo h2 {
        justify-content: center;
        text-align: center;
    }

    .foot .article .menu {
        flex-basis: 100%;
        max-width: 600px;
    }

    .foot .article .menu ul {
        display: flex;
        flex-basis: 100%;
        max-width: 300px;
    }

    .foot .article .menu ul h2 {
        display: flex;
        flex-basis: 100%;
        text-align: right;
        justify-content: flex-start;
    }

    .foot .article .menu ul a {
        font-size: 10pt;
    }

    .product-article .article-img {
        flex-basis: 100%;
    }

    .product-article .article-text {
        flex-basis: 100%;
    }

    .main-view-blog-article {
        display: none;
        padding: 0;
    }

}


/* 750px */
@media (max-width: 650px) {

   .faq-content > .faq-content-info > .faq-article-content > article > div{
height: 120px;
}

.faq-content > .faq-content-info > .faq-article-content > article > div:hover{
height: 350px;
}

.faq-content > .faq-content-info > .faq-article-content > article > div > h2{
padding: 40px 0;
}

}


/* 570px */
@media (max-width: 570px) {
    .service .service-content article .ico-h2 span {
        display: none;
    }

    .service .service-content article h2 {
        justify-content: center;
        text-align: center;
    }

    .foot .article .contact {
        flex-basis: 60%;
    }
}


/* 500px */
@media (max-width: 500px) {

    .service .service-content h1 {
        max-width: 380px;
        font-size: 1.6em;
    }

    .service .service-content article {
        flex-basis: 100%;
    }

    .about2 .about2-limit .article-content {
        animation: bgMotion 250s ease-in-out infinite;
    }
}


/* 400px */
@media (max-width: 400px) {
    .content-img-main .txt h2 {
        font-size: 24pt;
        padding: 0 20px;
    }

    .content-img-main .txt .paragraph p {
        font-size: 1em;
        padding: 0 20px;
    }

    .main .main-title {
        font-size: 1.9em;
    }

    .content-img-main a {
        font-size: .9em;
        font-weight: bold;
        max-width: 160px;
    }

    .service .service-content h1 {
        max-width: 280px;
        font-size: 1.6em;
    }

    .main .article-content article h2 {
        font-size: 1.2em;
        max-width: 300px;
    }

    .foot .article .menu, .contact {
        flex-basis: 100%;
        margin-bottom: 40px;
    }

    .foot .article .guizo {
        flex-basis: 100%;
    }

    .foot .article .contact {
        flex-basis: 100%;
    }

    .about2 .about2-limit .article-content {
        animation: bgMotion 300s ease-in-out infinite;
    }
}
